@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  /* --background: #ffffff;
  --foreground: #171717; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}

.blink {
  animation: blink 0.4s step-start infinite;
}

.color-x {
  color: #ff0000; /* Tailwind red-600 */
}

.color-o {
  color: #00ff5e; /* Tailwind green-600 */
}

.color-win {
  color: #ffc400; /* Gold color */
}

.color-next {
  background-color: #3f34db
}

.color-reset {
  background-color: #8528b1
}

.controls-button {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

body {  
  background: var(--background);
  color: var(--foreground);
  font-family: "Press Start 2P";
}
